@import "../../styles/abstracts/mixins";

.about__info {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 64rem;
  background-color: lighten($color: #ffad9b, $amount: 15%);
  border-radius: 1rem;
  overflow: hidden;
  margin: 6.4rem 0;

  @include respond(tab-port) {
    height: 68.9rem;
  }

  @include respond(phone) {
    border-radius: 0;
  }

  &__content-container {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 75%;
    height: 100%;

    @include respond(tab-port) {
      width: 80%;
    }

    h2 {
      color: var(--colorPeach);
      margin-bottom: 2.4rem;
    }

    p {
      color: var(--colorBlack);

      &:first-of-type {
        margin-bottom: 2rem;
      }
    }
  }

  &__image {
    width: 45%;
    height: 100%;
    background-size: cover;

    @include respond(tab-port) {
      width: 100%;
      height: 100%;
    }
  }
}

.world-class-talent {
  .about__info__image {
    background: url(./assets/desktop/image-world-class-talent.jpg) no-repeat;


    @include respond(tab-port) {
      background: url(./assets/tablet/image-world-class-talent.jpg) no-repeat;
      background-size: cover;

    }
  }
}

.real-deal {
  flex-direction: row;

  .about__info__image {
    background: url(./assets/desktop/image-real-deal.jpg) no-repeat;

    @include respond(tab-port) {
      background: url(./assets/tablet/image-real-deal.jpg) no-repeat;
      background-size: cover;

    }
  }
}

.world-class-talent,
.real-deal {
  @include respond(tab-port) {
    flex-direction: column-reverse;
  }
}
