@import "../../styles/abstracts/mixins";

.design-hero {
  margin: 6.4rem 0;
  background-color: var(--colorPeach);
  width: 100%;
  height: 25.2rem;
  border-radius: 1rem;
  color: var(--colorWhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

@include respond(phone) {
    border-radius: 0;
}

  &__content {
      height: 12.4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

  }

  p {
      max-width: 40rem;
      text-align: center;
  }
}
