@import "../../styles/abstracts/mixins";

.design-hero {
  width: 100%;
  height: 25.2rem;
  border-radius: 1rem;
  color: var(--colorWhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--webdesign {
    background: url(./assets/bg-pattern-intro-web.svg), var(--colorPeach);
  }
  &--appdesign {
    background: url(./assets/bg-pattern-intro-app.svg), var(--colorPeach);
  }
  &--graphicdesign {
    background: url(./assets/bg-pattern-intro-graphic.svg), var(--colorPeach);
  }
  &--webdesign,
  &--appdesign,
  &--graphicdesign {
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;

    @include respond(phone) {
      background-size: auto;
      background-position: bottom right;
    }
  }

  @include respond(phone) {
    border-radius: 0;
  }

  &__content {
    height: 12.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  p {
    max-width: 40rem;
    text-align: center;
  }
}
