@import "../../styles/abstracts/mixins";

.portfolio {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 16rem 0;
  gap: 4rem;

  @include respond(tab-port) {
    margin: 12rem 0;
  }
}

.portfolio > * {
  // margin: 12px 0 0 12px;
}
