@import "../abstracts/variables";
@import "../abstracts/mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  border: none;
}

html {
  font-size: 62.5%; //1rem - 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  } //1rem = 8px; 8px/16px = 50%
}

//COLORS
html {
  --colorPeach: #e7816b;
  --colorBlack: #1d1c1e;
  --colorWhite: #ffffff;
  --colorLightPeach: #ffad9b;
  --colorDarkGrey: #333136;
  --colorLightGrey: #f1f3f5;
}

body {
  box-sizing: border-box;
  background-color: var(--colorWhite);
  color: var(--colorBlack);
  user-select: none;
  
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}
