@import "../abstracts/variables";
@import "../abstracts/mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  border: none;
}

html {
  font-size: 62.5%; //1rem - 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  } //1rem = 8px; 8px/16px = 50%
}

//COLORS
html {
  --colorPeach: #e7816b;
  --colorBlack: #1d1c1e;
  --colorWhite: #ffffff;
  --colorLightPeach: #ffad9b;
  --colorDarkGrey: #333136;
  --colorLightGrey: #f1f3f5;
}

body {
  box-sizing: border-box;
  background-color: var(--colorWhite);
  color: var(--colorBlack);
  user-select: none;
  
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}


.suspense-placeholder {
  width: 100%;
  height: 100%;
  background-color: var(--colorLightGrey);
}

.suspense-placeholder2 {
  min-width: 33.3rem;
  width: 100%;
  min-height: 30rem;
  height: 100%;
  background-color: var(--colorLightGrey);
}


.bgLeaf, .bgLeaf500 {
  position: absolute;
  content: "";
  background: url(../../components/assets/bg-pattern-leaf.svg) no-repeat;
  width: 100%;
  height: 500px;
  left: 200px;
  top: 300px;
  overflow: visible;
  z-index: -1;

  @include respond(tab-land) {
    display: none;
  }
}

.bgLeaf500 {
  top: 500px;
}