@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");

// HEADING

p,
button,
a, textarea {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 2.6rem;
  color: var(--colorWhite);
}

li {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 2.6rem;
}

p, textarea, input {
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  font-weight: 500;
  font-family: "Jost", sans-serif;
}

h1,
h2 {
  line-height: 4.8rem;
}

h1 {
  font-size: 4.8rem;
  letter-spacing: normal;
}

h2 {
  font-size: 4rem;
  letter-spacing: 0.2rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: 0.5rem;
}
