@import "../abstracts/mixins";

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1111px;

  @include respond(tab-land) {
    padding: 0 1rem;
  }
  @include respond(tab-port) {
    padding: 0 2rem;
  }
  @include respond(phone) {
    padding: 0 0;
  }
}

.wrapper--phonepad {

  @include respond(phone) {
    padding: 0 2rem;
  }
}
